.title_top
  %h2 
    = I18n.t('layout.title_1')
  %h3 
    = I18n.t('layout.title_2')
.messages{"ng-repeat" => "error in projectsErrors.errors"} 
  %h3 {{error}}
.projects{"ng-include" => "'angular/templates/projects.html'"}
.add_project
  %a{:href => "", "ng-click" => "showCreateForm = true", "ng-hide" => "showCreateForm"} 
    = I18n.t('project.add_list')
  %form{"ng-submit" => "createProject()", :role => "form", "ng-show" => "showCreateForm"}
    %input{:id => "create_project_input", :autofocus => "", "ng-model" => "newProject.title", :type => "text", 'required' => ""}
    %button{:type => "submit"} 
      = I18n.t('project.add_project')

